.CardSucess, .CardAlert, .CardDelete {
    width: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-bottom: 3%;
    background-color: #3ee3f9;
    position: fixed;
    top: -100px;
    transition: top 1.0s ease-in-out;
}

.CardAlert, .CardDelete {
    background-color: red;
    color: white;
}

.CardDelete {
    width: 50%;
    display: flex;
    flex-direction: column;

    #buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 30%;

        #NoButton {
            margin-left: 50%;
        }
    }
}

@media (max-width: 500px) {
    .CardSucess, .CardAlert {
        font-size: 10px;
    }
}

@media (min-width: 431px) and (max-width: 1000px) {
    .CardSucess, .CardAlert {
        font-size: 12px;
    }
}

@media (min-width: 700px) and (max-width: 1130px) {
    .CardSucess, .CardAlert {
        font-size: 20px;
    }
}