body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #3ee3f9 0%, #0040ff 100%);
    color: white;
    font-family: "Arvo", serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: #0040ff;
    width: 80%;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: 350px;
    margin: 20px;
}

#titulo {
    height: 50px;
    border-radius: 10px;
    border: none;
}

#datetime {
    border: none;
    background: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all linear 0.2s;
}

#datetime:hover {
    background-color: #3ee3f9;
    height: 20px;
    border-radius: 10px;
}

input {
    padding: 10px;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
}

div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#description {
    height: 150px;
    width: 350px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

footer {
    justify-content: center;
    align-items: center;
    display: flex;
}

button {
    background-color: #0040ff;
    border: none;
    margin: 30px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: large;
    height: 50px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all linear 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #3ee3f9;
}

img {
    height: 30px;
    padding: 5px;
}