body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #3ee3f9 0%, #0040ff 100%);
    color: white;
    font-family: "Libre", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: #0040ff;
    width: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 30px;
    }
}

.tasks {
    position: relative;
    margin: 50px;
    height: 200px;
    width: 55%;
    border: solid 3px #00c3ff;
    border-radius: 10px;
    background-color: rgb(0, 4, 255);
    display: flex;
    align-items: center;
    transition: all linear 0.2s;
}

.tasks:hover {
    transform: scale(1.1);
}

/*Caixa de Marcação*/
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 10px;
    margin-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Caixa de Marcação Padrão*/
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

/*Marcador*/
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.2s;
}

/*Caixa de Marcação Marcada*/
.checkbox-container:hover input ~ .checkmark {
    background-color: #00c3ff;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #00FF00;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark::after {
    left: 9px;
    top: 3px;
    width: 12px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.titles {
    margin-left: 10%;
}

#task-description {
    width: 80%;
}

.buttons {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

#edit-button, #delete-button {
    background: none;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all linear 0.2s;
}

#edit-button:hover, #delete-button:hover {
    background-color: #00c3ff;
    transform: scale(1.1);
}

#delete-button:hover {
    background-color: red;
}

#description {
    width: 75%;
    font-weight: bold;
}

h1 {
    padding-bottom: 20px;
}

#btn-return {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #0040ff;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all linear 0.2s;
    margin-top: 20%;
    margin-bottom: 20%;
    
    #return-img {
        height: 35px;
    }
}

#btn-return:hover {
    background-color: #00c3ff;
    transform: scale(1.1);
    font-size: 35px;
}

@media (max-width: 560px) {
    header {
        font-size: 12px;
        width: 90%;
    }

    .tasks {
        position: relative;
        width: 90%;
    }

    .checkbox-container {
        margin-left: 20px;
    }

    .titles {
        margin-left: 50px;
        font-size: 9px;
        width: 55%;
    }

    .buttons {
        width: 10%;
        margin-right: 10px;

        #edit-img, #delete-img {
            width: 50px;
        }
    }
}

@media (min-width: 561px) and (max-width: 1000px) {
    header {
        width: 90%;
        padding: 5px;
    }

    .tasks {
        position: relative;
        width: 80%;
    }

    .titles {
        font-size: 12px;
        width: 60%;
    }

    .buttons {
        position: absolute;
        right: 5px;
    }   
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .titles {
        width: 60%;
        font-size: 12px;
    }
}